@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap&subset=cyrillic');
.start {
    position: absolute;
    min-height: 100%;
    /*height: auto !important;*/
    height: 100%;
    width: 100%;
    /*top: 50%;*/
    top: 0;
    left: 0;
    margin: 0 auto -20px;
    background: #1f2c2e;
}
.start_text {
    font-family: 'Roboto', sans-serif;
    font-size: 50pt;
    color: azure;
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.start_text_2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50pt;
    color: azure;
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.start_img {
    border-radius: 50%;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}